
/*  Custom template */
/* .skin-black-light .main-header>.logo {

    border-right: none;
}
.skin-black-light .main-header .navbar>.sidebar-toggle {
    border-right: none;

}
.skin-black-light .main-header .navbar .sidebar-toggle {
    color: #25008f;
}
.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header .navbar .navbar-right>li>a {
    border-left: none;
}
.content-wrapper {
    background-color: #fff;
}

.sidebar{
    background-color: #f9f9f9;
} */

/*  Custom message modal     */
.text-alta {
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.padding-alta {
    padding: 0 50px;
    margin-top: 135px;
}

.centers {
    text-align: center;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

/*  Custom Table   */

/* thead */
table.dataTable thead tr th {
    text-align: center;
    vertical-align: top;
}

/* Body */
tbody tr td.alineacion-derecha {
    text-align: right;
}

tbody tr td.alineacion-izquierda {
    text-align: left;
}

tbody tr td.alineacion-centro {
    text-align: center;
}

.deshabilitado{
    background-color: #eee !important;
}

/* OTRO CUSTOM */


section.content-header h1{
    color: #101426;
}


.login-page, .register-page {
    background: #101426;
}


div.login-logo a b {
    color: #fff;
}

.login-box-body {
    box-shadow: #0000009e -5px 5px 10px 0px;
}
.box.box-primary {
    box-shadow: #d9d9d9 0px 10px 18px;
}
/* element.style {
} */


.bg {
  /* The image used */
  background-image: url("http://vegsa.com.mx/assets/img/headers/studio-music.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-heading {
    padding: 0;
}
.panel-title a {
    display: block;
    padding: 10px 15px;
}
